#main-page {
    height: 300px !important;
}

#show_all_img {
    width: 100%;
    min-height: 400px;
    margin: auto;
    background: rgb(243, 243, 243);
}

.item_img {
    margin-top: 15px;
    margin-bottom: 15px;
}

.item_video {
    width: 100% !important;
    max-width: 400px !important;
    height: 320px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    #main-page {
        height: 350px !important;
    }

    h2.des-p {
        width: 100%;
        font-size: 15px !important;
        margin-top: 20px !important;
    }

    .form-url {
        margin-top: 10px !important;
    }

    .description .sub-button {
        margin-top: 15px !important;
    }
}