<nav class="navbar navbar-fixed-top navbar-color-on-scroll navbar-info navbar-transparent">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"><span class="sr-only">Toggle navigation</span><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/">Instagram Download
            </a></div>
        <div class="navbar-collapse collapse" id="navbar" aria-expanded="false" style="height: 0px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li title="为您的ins生成年度热门图"><a style="color:red;" href="/2016?l=en"><strong>Year's Hot</strong></a>
                </li>
                <li><a target="_blank" href="https://www.instagram.com/howie6879/">Follow Me</a></li>
            </ul>
        </div>
    </div>
</nav>