<section>
    <div id="info-page">
        <div class="container">
            <div class="readme">
                <h2 class="des-p">How to Download Instagram Photos?</h2>
                <br>
                <p>
                    No matter in the PC , Mac or Phone ,you can download the Instagram pictures on our site. And the
                    steps are as follows.You just need to copy the URL to the input box, and click the download
                    button.

                </p>
                <p>
                    Then just Waiting for a moment, we will show you the picture you need.
                </p>
                <p>
                    If your browser version is the latest, you just need to click the picture directly to finish the
                    download, or you need to move the mouse to the picture,and right-click, selecting the save picture or videos as
                    .. option.
                </p>
                <br>
                <h2 class="des-p">Note:</h2>
                <p>
                    This site won't save any data, so don't worry. Wish you a happy life.
                </p>
                <br>
            </div>

        </div>
    </div>
</section>