<footer>
    <div class="center-block">
        <p class="footer-about">
            <span>
                <a target="_blank" href="http://mp.weixin.qq.com/s/XaraDbtQtBKOSkpJOoH_IA">
                    图片下载
                </a>
            </span>
            <span>
                <a id="wechart" class="we-button" data-toggle="popover" data-placement="top">
                    |关注我们
                </a>
            </span>
            <span>
                 <a id="contact" data-toggle="popover" data-placement="top">
                    |联系我们
                </a>
            </span>
            <span>
                 <a href="/faq">
                    |我要反馈
                </a>
            </span>
        </p>
        <p class="center-block">Copyright © 2017 instdd All rights reserved.
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1261663566'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1261663566%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
        </p>
    </div>
</footer>