{% extends "main.html" %}

{% block header %}
<meta name="keywords" content="公众号图图推 给你最有爱的服务 保存图片 instagram 下载照片 一键保存图片 在线保存照片"/>
<meta name="description"
      content="公众号图图推 给你最有爱的服务 保存图片 - Instagram图片在线保存下载 - 简单保存instagram图片 一键下载 - instdd.com - Instagram photo download online"/>
<meta name="copyright" Content="本页版权归instdd.com所有 All Rights Reserved">
<link rel="stylesheet" type="text/css" href="static/css/tututui.css">
<title>{{ title }}</title>
{% endblock %}

{% block content %}


{% include "footer.html" %}
{% endblock %}
{% block script %}
{% endblock %}