{% extends "main.html" %}

{% block header %}
<meta name="keywords"
      content="Instagram download, Instagram downloader online, Instagram download photos video, Download Instagram photos video, Download instagram videos, Instgram photo and video download online,Download Instagram Photos, download Instagram pictures "/>
<meta name="description"
      content="Instagram photo and video downloader online - Free, and one-click download. Simple way to download Instagram pictures and videos to your PC and Phone"/>
<meta name="copyright" Content="Copyright © 2017 instdd.com All rights reserved.">
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="static/css/photo_group.css">
<link rel="stylesheet" type="text/css" href="static/css/ins_best.css">
{% endblock %}

{% block content %}
{% include "zh_other_nav.html" %}
<section>
    <div id="main-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 show-image">
                    <h2 id="des-info" class="des-p">
                        正在努力为您合成<strong>{{username}}</strong>的2016年度热图，请您稍等片刻^_^
                    </h2>
                    <input id="username" type="hidden" name="username" value="{{username}}">
                    <br>
                    <div class="description" style="padding-top:0;">
                        <form class="sub_url form-inline" action="/ins_best" method="post">
                            <input type="text" class="form-control form-url" name="username"
                                   placeholder="输入ins用户名">
                            <input type="hidden" name="lang" value="zh">
                            <div class="btn sub-button">
                                年度热门
                            </div>
                            <div id="wechart" class="btn we-button" data-toggle="popover" data-placement="bottom">
                                公众号
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="show_all_img">
        <div class="container">
            <div class="row">
                <div id="best_nine" style="display: none" class="center-block col-lg-6 col-sm-6 col-xs-12">
                    <a id="best_nine_href" href="#" download>
                        <img width="640px" height="640px" id="best_nine_img" class="center-block img-thumbnail img-responsive item_img"
                             src=""
                             alt="2016 年度热图">
                    </a>
                </div>
                <div class="show_info">
                    <img class="center-block img-responsive" src="static/images/loading.gif"/>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "zh_readme.html" %}
{% include "footer.html" %}
{% endblock %}
{% block script %}
<script src="static/js/index.js"></script>
<script src="static/js/ins_best.js"></script>
{% endblock %}