{% extends "main.html" %}

{% block header %}
<meta name="keywords" content="Instagram 保存图片 图片下载 图片保存 免费下载instagram图片 保存视频 Instagram 下载照片 下载视频 苹果保存instagram图片 "/>
<meta name="description"
      content="Instagram图片视频在线保存下载,ins一贴多图,简单保存instagram图片视频,一键下载,批量下载,Instagram,ins,存图,保存,下载,原图,图片,照片,相片,Instagram 存图,Instagram 保存,Instagram 下载,Instagram 原图,Instagram 图片,Instagram 照片,Instagram 相片,ins 存图,ins 保存,ins 下载,ins 原图,ins 图片,ins 照片,ins 相片,分享 Instagram 图片,保存 Instagram 图片 视频 头像,下载Instagram 图片, Instagram 图片,instdd.com - Instagram photo and video download online"/>
<meta name="copyright" Content="本页版权归instdd.com所有 All Rights Reserved">
<title>{{ title }}</title>
<style>
    #main-page {
        background: #fff !important;
    }

    .ttt-ins {
        position: absolute;
        margin-top: -31%;
        margin-left: 70%;
    }

    @media (max-width: 767px) {
        #main-page {
            background: url("static/images/bg.jpg") no-repeat -70px -60px !important;
        }

        .ttt-ins {
            display: none;
        }
    }
</style>
{% endblock %}

{% block content %}
{% include "zh_nav.html" %}
<section>
    <div id="main-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="description">
                        <h1 style="padding-top: 1.5em;">Instagram 图片保存</h1>
                        <h2 class="des-p">
                            我们提供简单的方式让您可以在线保存Instagram<strong>图片</strong>或<strong>视频</strong>，只需输入Instagram图片地址进行提交，您不必担心照片信息泄露，本站承诺不会保存您的图片。
                        </h2>
                        <br>
                    </div>
                    <div class="description" style="padding-top:0;">
                        <form class="sub_url form-inline" action="/photo" method="post">
                            <input type="text" class="form-control form-url" name="url"
                                   placeholder="https://www.instagram.com/p/BRntBqalLsf">
                            <input type="hidden" name="lang" value="zh">
                            <div class="btn sub-button">
                                下载
                            </div>
                            <div id="wechart" class="btn we-button" data-toggle="popover" data-placement="bottom">
                                公众号
                            </div>
                        </form>
                    </div>
                    <div class="ttt-ins">
                        <img class="img-responsive" src="static/images/ins_ttt.png" width="280px" height="498px"
                             alt="微信关注公众号：图图推">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "zh_readme.html" %}
{% include "footer.html" %}
{% endblock %}
{% block script %}
<script src="static/js/index.js"></script>
<script>
    $(document).ready(function () {
        var language = navigator.browserLanguage ? navigator.browserLanguage : navigator.language;
        if (language.indexOf('zh') == -1) {
            window.location.href = '/en';
        }
    });
</script>
{% endblock %}