<section>
    <div id="info-page">
        <div class="container">
            <div class="readme">
                <h2 class="des-p">怎么保存图片或者视频</h2>
                <br>
                <p>
                    无论是PC，Mac或者Phone，您都可以在本站下载instagram上的图片视频，您只需将网址复制进输入框，点击下载即可。
                </p>
                <p>
                    等待几秒时间，您的照片或者视频便会显示出来。
                </p>
                <p>
                    如果您的浏览器是最新的，您直接点击图片就可实现下载，否则您需要将鼠标移动到图片上，右击，选择将图片另存为...
                </p>
                <p>
                    如果您下载的是视频，将鼠标移动到视频上就可以看到右下角下载的标识，如果没有，直接右击选择下载视频
                </p>
                <br>
                <h2 class="des-p">说明</h2>
                <p>
                    请不用担心任何问题，本站不保存任何数据，最后，祝您生活愉快。
                </p>
                <br>
            </div>

        </div>
    </div>
</section>